<h1>Enter the length of your triangle sides:</h1>

<form action='/triangle' method='post'>
  <div class='form-group'>
    <input id='side_one' name='side_one' class='form-control' type='text'>
    <label for='side_one'>Side one:</label>
  </div>
  <div class='form-group'>
    <input id='side_two' name='side_two' class='form-control' type='text'>
    <label for ='side_two'>Side two:</label>
  </div>
  <div class='form-group'>
    <input id='side_three'name='side_three' class='form-control' type-'text'>
    <label for='side_three'>Side three:</label>
  </div>
  <button type='submit' class='btn button'>Submit</button>
</form>